body 
 {
  font-family:Arial,san-serif;
  background-color:green;
  padding:0;
  margin: 0;
 }

#wrapper
{
  width:90%;
  margin: auto;
  background-color:#F0F7D4;
  padding:20px;
  box-shadow:0px 0px 0px 10px #EBF7E3;
  border:5px #559E54 solid;
}

#header
{
  background-color:#98CA32;
  color:#0A3409;
  padding: 20px 0;
  text-align:center;
  border:5px #559E54 solid;
}

#header h1
{
  margin: 0;
  font-family: 'Londrina Sketch';font-size: 3em;

}

#WG
{
  z-index:100;
  position: absolute;
  top: 35px;
  left: 80px;
  height:85px;
  width:85px;
  border:1px solid;
}

#nav
{
  background-color:#0A3409;
  overflow:hidden;
  border:5px #559E54 solid;
}

#nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:right;
}

#nav li
{
  display:inline-block;
}

#nav li a
{
  display:block;
  padding: 10px 20px;
  color: #98CA32;
  text-decoration:none;
  font-weight: bold;
}

#nav li a: hover
{
  background-color: grey;
}

div:hover li a
{
 background-color: green;
 color:white;
}

div:active li a {
 background-color: green);
 color: white;
}

.content
{
  padding: 20px;
  line-height: 1.4;
  color:#0A3409;
  font-size:1.2em;
}

#Climate
{
  margin: 20px 60px 20px 25px;
  width: 460px;
  height: 400px;
  border: 5px solid;
}

.content h2
{
  text-shadow: 2px 2px #98CA32;
  font-family: 'Londrina Solid';
  font-size: 1.5;
  color: #0A3409;
}

footer
{
  background-color:#0A3409;
  overflow:hidden;
  font-weight: bold;
  margin-left: 540px;
  margin-right: 540px
}

footer ul
{
  list-style-type: none;
  margin:0;
  padding: 0;
  text-align:right;
}

footer li
{
  display:inline-block;
}

footer li a
{
  display:block;
  padding: 10px;
  color: #98CA32;
  text-decoration:none;
  font-weight: bold;

}
footer li a: hover
{
  background-color: grey;
}
